.cars {
  .site-wrapper {
    width: 100%;

    @media (min-width: $media-tb) {
      @include set-width($w-site-wrapper-tb, $w-layout-tb);
    }

    @media (min-width: $media-dt) {
      @include set-width($w-site-wrapper-dt, $w-layout-dt);
    }
  }

  &__title {
    position: relative;
    margin: 0;
    padding: 0 20px 30px 25px;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: $c-shark;

    @media (min-width: $media-tb) {
      padding-left: 15px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 10px;
      width: 3px;
      height: 18px;
      background-color: $c-grey;

      @media (min-width: $media-tb) {
        left: 0;
      }
    }
  }

  &__table {
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    color: $c-mine-shaft;
  }

  &__table-row {
    &--headers {
      display: none;

      @media (min-width: $media-tb) {
        display: flex;
        align-items: center;
        min-height: 44px;
        padding: 3px 12px 0;
        background-color: $c-monza;
        border-radius: 4px 4px 0 0;
      }
    }

    &--content {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 12px;
      padding: 0 10px 20px 17px;
      border-bottom: 1px solid #dadada;

      @media (min-width: $media-tb) {
        margin-bottom: 1px;
        padding: 10px 0 14px 12px;
      }

      @media (min-width: $media-dt) {
        margin-bottom: 6px;
      }

      &:last-child {
        margin-bottom: 0;
        border-bottom: none;
      }
    }
  }

  &__table-header {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-align: left;
    color: $c-white;

    &--year,
    &--color {
      @include set-width($w-cars-table-header-year-wrapper-tb, $w-cars-table-header-row-wrapper-tb);

      @media (min-width: $media-dt) {
        @include set-width($w-cars-table-header-year-wrapper-tb, $w-cars-table-header-row-wrapper-dt);
      }
    }

    &--title {
      @include set-width($w-cars-table-header-title-wrapper-tb, $w-cars-table-header-row-wrapper-tb);
      margin-right: $m-cars-table-header-title-wrapper-tb * 100% / $w-cars-table-header-row-wrapper-tb;

      @media (min-width: $media-dt) {
        @include set-width($w-cars-table-header-title-wrapper-dt, $w-cars-table-header-row-wrapper-dt);
        margin-right: $m-cars-table-header-title-wrapper-tb * 100% / $w-cars-table-header-row-wrapper-dt;
      }
    }

    &--year {
      margin-right: $m-cars-table-header-year-wrapper-tb * 100% / $w-cars-table-header-row-wrapper-tb;

      @media (min-width: $media-dt) {
        margin-right: $m-cars-table-header-year-wrapper-dt * 100% / $w-cars-table-header-row-wrapper-dt;
      }
    }

    &--color {
      margin-right: $m-cars-table-header-color-wrapper-tb * 100% / $w-cars-table-header-row-wrapper-tb;

      @media (min-width: $media-dt) {
        margin-right: $m-cars-table-header-color-wrapper-dt * 100% / $w-cars-table-header-row-wrapper-dt;
      }
    }

    &--status {
      @include set-width($w-cars-table-header-status-wrapper-tb, $w-cars-table-header-row-wrapper-tb);
      margin-right: m-cars-table-header-status-wrapper-tb * 100% / $w-cars-table-header-row-wrapper-tb;

      @media (min-width: $media-dt) {
        @include set-width($w-cars-table-header-status-wrapper-tb, $w-cars-table-header-row-wrapper-dt);
        margin-right: m-cars-table-header-status-wrapper-dt * 100% / $w-cars-table-header-row-wrapper-dt;
      }
    }

    &--price {
      @include set-width($w-cars-table-header-price-wrapper-tb, $w-cars-table-header-row-wrapper-tb);

      @media (min-width: $media-dt) {
        @include set-width($w-cars-table-header-price-wrapper-tb, $w-cars-table-header-row-wrapper-dt);
      }
    }
  }

  &__table-cell {
    &--title {
      position: relative;
      width: 100%;

      @media (min-width: $media-tb) {
        @include set-width($w-cars-table-cell-title-wrapper-tb, $w-cars-table-header-row-wrapper-tb);
        margin-right: $m-cars-table-header-title-wrapper-tb * 100% / $w-cars-table-header-row-wrapper-tb;
        padding-top: 5px;
      }

      @media (min-width: $media-dt) {
        @include set-width($w-cars-table-cell-title-wrapper-dt, $w-cars-table-header-row-wrapper-dt);
        margin-right: $m-cars-table-header-title-wrapper-tb * 100% / $w-cars-table-header-row-wrapper-dt;
      }

      p:first-child {
        padding-bottom: 10px;

        @media (min-width: $media-tb) {
          padding-bottom: 3px;
        }
      }

      p:last-child {
        padding-bottom: 12px;

        @media (min-width: $media-tb) {
          padding-bottom: 0;
        }
      }
    }

    &--price,
    &--color {
      position: absolute;

      @media (min-width: $media-tb) {
        position: static;
        padding-top: 5px;
      }
    }

    &--year,
    &--status {
      padding-top: 7px;

      @media (min-width: $media-tb) {
        padding-top: 5px;
      }
    }

    &--price {
      top: -1px;
      right: 10px;
      width: 110px;

      @media (min-width: $media-tb) {
        @include set-width($w-cars-table-cell-price-wrapper-tb, $w-cars-table-header-row-wrapper-tb);
        margin-right: $m-cars-table-cell-price-wrapper-tb * 100% / $w-cars-table-header-row-wrapper-tb;
      }

      @media (min-width: $media-dt) {
        @include set-width($w-cars-table-cell-price-wrapper-tb, $w-cars-table-header-row-wrapper-dt);
        margin-right: $m-cars-table-cell-price-wrapper-dt * 100% / $w-cars-table-header-row-wrapper-dt;
      }
    }

    &--color {
      top: 0;
      right: 133px;

      @media (min-width: $media-tb) {
        @include set-width($w-cars-table-cell-color-wrapper-tb, $w-cars-table-header-row-wrapper-tb);
        margin-right: $m-cars-table-cell-color-wrapper-tb * 100% / $w-cars-table-header-row-wrapper-tb;
      }
    }

    &--year {
      margin-right: 14px;

      @media (min-width: $media-tb) {
        @include set-width(36px, $w-cars-table-header-row-wrapper-tb);
        margin-right: 10px * 100% / $w-cars-table-header-row-wrapper-tb;
      }

      @media (min-width: $media-dt) {
        @include set-width(36px, 930px);
        margin-right: 14px * 100% / 930px;
      }
    }

    &--status {
      @media (min-width: $media-tb) {
        @include set-width(85px, $w-cars-table-header-row-wrapper-tb);
        margin-right: 35px * 100% / $w-cars-table-header-row-wrapper-tb;
      }

      @media (min-width: $media-dt) {
        @include set-width(85px, 930px);
        margin-right: 35px * 100% / 930px;
      }
    }

    &--button {
      margin-right: 7px;
      margin-left: auto;

      @media (min-width: $media-tb) {
        margin-right: 4px * 100% / 672px;
        margin-left: 0;
      }

      @media (min-width: $media-dt) {
        margin-right: 24px * 100% / 930px;
      }
    }

    p {
      margin: 0;
    }
  }

  &__table-cell-title {
    width: 145px;
    font-size: 15px;
    line-height: 20px;

    @media (min-width: $media-tb) {
      width: 100%;
    }
  }

  &__table-cell-description {
    max-width: 310px;
    font-size: 13px;
    line-height: 16px;
    color: $c-grey;

    @media (min-width: $media-tb) {
      max-width: none;
    }
  }

  &__table-cell-color {
    width: 19px;
    height: 19px;
    background-color: $c-black;
    border-radius: 50%;

    @media (min-width: $media-tb) {
      margin: 0 auto;
    }
  }

  &__table-cell-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 85px;
    min-height: 29px;
    padding: 2px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: $c-white;
    background: $c-shark;
    border-radius: 20px;
  }
}
