// font
// $segoe: "SegoeU I", "Arial", sans-serif;

// color
$c-white: #ffffff;
$c-black: #000000;

// width
$w-layout-dt: 1440px;
$w-layout-mb: 375px;
$w-site-wrapper-dt: 1200px

// @media
$media-dt: 1024px;
$media-tb: 768px;
$media-mb: 320px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
